
/* ADICIONAR UMA FONTE EXTERNAMENTE ❕ ----------------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: Parkinsans;
    src: url(./Fonte/Parkinsans-Bold.ttf);
}

body {
    font-family: Parkinsans;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Efeito de aparecer com o tempo --------------------------------------------------------------------------------------------------------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Começa com a opacidade 0, para ficar invisivel */
    }

    to {
        opacity: 1;
        /* Termina com a opacidade 1 */
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER + NAV (elementos) ❕ ------------------------------------------------------------------------------------------------------------------------------------------- */
.headerNav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    
}

.headerNav-container header {
    flex: 0;
    /* Faz o header ocupar o espaço disponível */
}

.headerNav-container nav {
    flex: 2;
    /* Faz o nav ocupar mais espaço que o header */
    display: flex;
    justify-content: space-around;
}

.headerNav-container img {
    width: 20vw;
    height: auto;
    transition: all 0.5s ease;
}

.headerNav-container img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.headerNav-container nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    transition: color 0.5s ease;
    background-color: #372522;
    border-radius: 20px;
    padding: 0.7em;
    box-shadow: 6px 5px 0px gray;
    transition: all 0.5s ease;
}

.headerNav-container nav a.destaque {
    text-decoration: none;
    font-size: 1.3em;
    color: #b66e3f;
    transition: color 0.5s ease;
    background-color: #372522;
    border-radius: 20px;
    padding: 0.7em;
    box-shadow: 6px 5px 0px gray;
    transition: all 0.5s ease;
}

.headerNav-container nav a:hover {
    color: #b66e3f;
    transform: scale(1.1);
    /* Faz com que, ao passar o mouse por cima do nav, ele fique destacado */
    transition: color 0.5s ease;
    /* Tempo de transição da cor */
    transition: all 0.5s ease;
    /* Faz com que a transição seja mais suave */
}

/* --------------------------------------------------------------------------------------------------------- */

.slider {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 3s;

}

.slides {
    position: relative;
    display: none;
    width: 70vw;
}

.slides img {
    margin-left: -21%;
    height: 90vh;
    width: 99.12vw;
}

.texto {
    color: #f2f2f2;
    font-size: 5vw;
    position: absolute;
    width: 40vw;
    margin-left: -6%;
    margin-top: -57%;
}

.cor {
    color: red;
}

.botoes {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1.8vw;
    margin-bottom: -10%;
    color: white;
    font-weight: bold;
    font-size: 1.7vw;
    transition: 0.6s;
    background-color: transparent;
    border-style: none;
    animation: fadeIn 3s;
}

#anterior {
    left: 0;
    border-radius: 0.5vw;
    animation: fadeIn 3s;
}

#proximo {
    right: 0;
    border-radius: 0.5vw;
    animation: fadeIn 3s;
}

#anterior:hover,
#proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 3s;
}

.botaoTrad {
display: flex;
flex-direction: row;
background-color: rgb(224, 224, 224);
border-radius: 5vw;
width: 8vw;
height: 3.5vw;
align-items: center;
justify-content: space-around;
padding-top: 0.3vw;
margin-left: 91%;
margin-top: -2%;
animation: fadeIn 3s;

}

.botaoBra {
 border-radius: 5vw;
 width: 3vw;
 height: 3vw;
 cursor: pointer;
 animation: fadeIn 3s;
}

.botaoBra:hover {
    border: 0.2vw solid rgb(189, 189, 189);
   }


.botaoUsa {
    border-radius: 5vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    animation: fadeIn 3s;
}

.botaoUsa:hover {
    border: 0.2vw solid rgb(189, 189, 189);
   }



.navImg {
    width: 98.3vw;
    position: absolute;
    margin-top: -3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4vw;
    animation: fadeIn 3s;
}

.bolinhas {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    background-color: rgb(189, 189, 189);
    border-radius: 50%;
    transition: background-color 0.6s;
    animation: fadeIn 3s;
}

.ativo,
.bolinhas:hover {
    background-color: #4e4e4e;
    animation: fadeIn 3s;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 3s;
}

.titulo1 {
    background-color: #BF0504;
    text-align: center;
    justify-content: center;
    width: 15vw;
    border-radius: 0.5vw;
    padding: 0.3vw;
    animation: fadeIn 3s;
}

.titulo2 {
    background-color: #F56004;
    text-align: center;
    justify-content: center;
    width: 15vw;
    border-radius: 0.5vw;
    padding: 0.3vw;
    animation: fadeIn 3s;
}

.paragrafos {
    width: 60vw;
    text-align: justify;
    box-shadow: 0px 0px 50px gray;
    padding: 3vw;
    border-radius: 2vw;
    animation: fadeIn 3s;
}

.paragrafos:hover {
    transform: scale(1.1);
    transition: 0.5s;
    animation: fadeIn 3s;
    cursor: pointer;
    animation: fadeIn 3s;
}

/* FOOTER - INFORMAÇÕES E LOGO ------------------------------------------------------------------------------------------------------------------------------------------ */
.footer-container footer {
    display: flex;
    background-color: #874922;
    color: white;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    border-radius: 20px;
    animation: fadeIn 3s;
  }
  
  .footer-container img {
    width: 10%;
    height: auto;
    animation: fadeIn 3s;
  }
  
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */