* {
    margin: 0;
    padding: 0;
}


/* ADICIONAR UMA FONTE EXTERNAMENTE ❕ ----------------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: Parkinsans;
    src: url(../Fonte/Parkinsans-Bold.ttf);
}

body {
    font-family: Parkinsans;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Efeito de aparecer com o tempo --------------------------------------------------------------------------------------------------------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Começa com a opacidade 0, para ficar invisivel */
    }

    to {
        opacity: 1;
        /* Termina com a opacidade 1 */
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER + NAV (elementos) ❕ ------------------------------------------------------------------------------------------------------------------------------------------- */
.headerNav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}

.headerNav-container header {
    flex: 0;
    /* Faz o header ocupar o espaço disponível */
}

.headerNav-container nav {
    flex: 2;
    /* Faz o nav ocupar mais espaço que o header */
    display: flex;
    justify-content: space-around;
}

.headerNav-container img {
    width: 20vw;
    height: auto;
    transition: all 0.5s ease;
}

.headerNav-container img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.headerNav-container nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    transition: color 0.5s ease;
    background-color: #372522;
    border-radius: 20px;
    padding: 0.7em;
    box-shadow: 6px 5px 0px gray;
    transition: all 0.5s ease;
}

.headerNav-container nav a.destaque {
    text-decoration: none;
    font-size: 1.3em;
    color: #b66e3f;
    transition: color 0.5s ease;
    background-color: #372522;
    border-radius: 20px;
    padding: 0.7em;
    box-shadow: 6px 5px 0px gray;
    transition: all 0.5s ease;
}

.headerNav-container nav a:hover {
    color: #b66e3f;
    transform: scale(1.1);
    /* Faz com que, ao passar o mouse por cima do nav, ele fique destacado */
    transition: color 0.5s ease;
    /* Tempo de transição da cor */
    transition: all 0.5s ease;
    /* Faz com que a transição seja mais suave */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOTÃO PARA ENVIAR A HISTÓRIA */
.criarMensagem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    animation: fadeIn 3s;
}

button {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-family: Parkinsans;
    background-color: #f56004;
    border-radius: 20px;
    padding: 0.7em;
    width: 10em;
    cursor: pointer;
    box-shadow: 6px 5px 0px gray;
    transition: all 0.5s ease;
}

button:hover {
    color: #372522;
    transform: scale(1.1);
}

/* FOOTER - INFORMAÇÕES E LOGO ------------------------------------------------------------------------------------------------------------------------------------------ */
.footer-container footer {
    display: flex;
    background-color: #b66e3f;
    color: white;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    border-radius: 20px;
    animation: fadeIn 3s;
  }
  
  .footer-container img {
    width: 10%;
    height: auto;
    animation: fadeIn 3s;
  }
  
  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */